extends layouts/layout-primary

block content
  section.py-2
    .container
      h1.fs-3.mb-1 LQIP Pug Plugin
      p.mb-1 Inspired by:

      ul.mb-1
        li LQIP webpack loader
        li Medium web
        li Instagram mobile app
        li Polymer shop project

      ul.mb-2
        li: a.inline-block(href='https://github.com/mike3run/lqip-pug' target='_blank') Github
        li: a.inline-block(href='https://github.com/mike3run/lazy-example' target='_blank') Example Github
        li: a.inline-block(href='https://www.npmjs.com/package/lqip-pug' target='_blank') NPM

      +img('ben.jpg')
      +img('water.jpg')
      +img('cala.jpg')
